li a{
    text-decoration: none;
}

nav ul li {
    display: inline;
    border: 1px solid maroon;
    margin-right: 5px ;
}

#presentation{
    text-align: justify;
    font-weight: 400;
    text-align: justify;
    border: 1px solid black;
    display: inline;
    width: 70% ;
}

#profile{
    display: inherit;
    margin-top: 5px;
    margin-bottom: 5%;
}

#block1{
    display: flex;
    
}
.titredepage{
    border: 1px solid black;
    margin-bottom: 0%; 
}

body{
    background: rgb(77, 217, 86);
}